/* 设备列表 */
.facility table td{height: 3.5rem;border-right: solid 1px #e6e2e2;border-bottom: solid 1px #eae6e6;}
.facility table tr{ border-bottom: solid 1px #bdbdbd ;height: 3.5rem;}
.facility .style1 {color: #FFFFFF;font-size: 1.5rem;}
.facility .style2{ border-right:none;}
.facility .style1 img{ width:1.5rem;}
.facility .style3{ font-size:1.1rem}
.facility .tishi{width: 90%; margin:auto;color: #909090; font-size: 1.4rem; margin-top: 1.5rem;}
.facility  .tishi_yanz{ border: none; background: #fff; height: 3rem;line-height: 3rem;font-size: 1.6rem;
    margin-bottom: 5.5rem; margin-top: 1.5rem;
    padding-left: 5%; color: #656565;}
.facility  .tishi_yanz input{ margin-left: 2rem;width: 65%; }
.facility  .tishi_yanz select{ margin-left: 2rem;width: 65%; height: 3rem;line-height: 3rem; float:left;}
.facility  .tishi_yanz option{ margin-left: 2rem; height: 3rem;line-height: 3rem; }
.tishi_yanz_div1{ float: left;  height: 3rem;line-height: 3rem;}

