.header{
    width: 100%;
    height: 60px;
    z-index: 9;

}
.headerBg{
    background-color: #fff;
    background-position: 0 100%;
    background-size: contain;
    background-image: url("../img/topBg.png");
    background-repeat: no-repeat;
    border-bottom: 4px solid #F00;
}

.header .logo {
    width: 116px;
    height: 100%;
    /* border: 1px solid; */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 76%;
    padding: 0 8px;
}

.header .title {
    display: inline-block;
    /* border: 1px solid; */
    height: 100%;
    line-height: 62px;
    font-size: 18px;
    top: 0;
    left: 120px;
    position: absolute;
    color: #818083;
}

.header .goBack{
    width: 38px;
    height: 38px;
    background-color: rgba(0,0,0,.2);
    position: relative;
    top: 10px;
    left: 14px;
}

.header .goBack:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 14px;
}

.header .titleRight {
    position: absolute;
    top: 20px;
    right: 14px;
    color: #818083;
    font-size: 18px;
}


.footer {
    background-color: #fff;
    width: 100%;
    /*height: 68px;*/
    padding: 15px 0;
    border-top: 1px solid #d4d4d4;
    box-sizing: border-box;
    z-index: 2;
}

.footer .footMenuWrap{
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;
}
.footer .footMenuWrap .footMenu{
    display: inline-block;
    width: 33%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #808080;
}
.footer .footMenuWrap .footMenu.on {
    color: red;
}

.footer .footMenuWrap .footMenu [class^=icon-] {
    font-size: 22px;
}


.groupBuy .content {
    position: relative;
    /*width: 100%;*/
    /* top: 64px; */
    padding: 64px 0 90px;
    z-index: 1;
    -webkit-transform: translateZ(0);
}


.addAddress {
    background-color: #f7f7f7;
}

.addAddress .content{
    position: relative;
    /*width: 100%;*/
    /* top: 64px; */
    padding: 78px 14px 0;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.inputBox {
    width: 100%;
    height: 56px;
    border: 1px solid #dedede;
    background-color: #fff;
    margin: 0 0 12px;
    text-align: center;
}

input,.input {
    background: none;
    width: 90%;
    height: 100%;
    border: none;
    font-size: 16px;
}

select,.select {
    background: none;
    width: 93%;
    height: 100%;
    border: none;
    font-size: 16px;
    color: #d7d7d7;
}

.selectBox{
    position: relative;
}

.selectBox:after{
    content:"";
    display: inline-block;
    border-left:6px solid rgba(0,0,0,0);
    border-right:6px solid rgba(0,0,0,0);
    border-top: 8px solid #bebebe;
    position: absolute;
    top: 46%;
    right: 16px;
}

input::-webkit-input-placeholder {
    color: #d7d7d7;
}

.marginTop32{
    margin-top: 32px;
}

.addAddress .setDefaultAddress {
    color: #646464;
    display: inline-block;
}

.checkCircle {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0,0,0,.5);
    display: inline-block;
    position: relative;
    top: 2px;
    color: rgba(0,0,0,0);
}

.checkCircle.on{
    border-color:#df2128;
    background-color: #df2128;
    color: #fff;
}

.checkCircle.on:after{
    content: "\e7ce";
    font-family: iconfont;
    font-size: 12px;
    position: absolute;
    top: -1px;
    left: 1px;
}

.addAddress .content .submitAddAddress {
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #df2128;
    color: #fff;
    margin: 16px 0;
    letter-spacing: 2px;
}

.submitBtn{
    width: 94%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #df2128;
    color: #fff;
    margin: 16px auto;
    letter-spacing: 2px;
}

.orders{
    background-color: #f2f2f2;
}

.orders .content {
    position: relative;
    /*width: 100%;*/
    /* top: 64px; */
    padding: 64px 0 0;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.orders .content .ordersWrap {
    padding: 16px 14px 0;
    background-color: #fff;
}

.orders .content .ordersWrap .item {
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    white-space: nowrap;
    padding: 0 0 12px;
}

.orders .content .ordersWrap .item .img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
}

.orders .content .ordersWrap .item .goodsDetail {
    display: inline-block;
    /* border: 1px solid; */
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    margin: 0 12px 0;
    position: relative;
    height: 102px;
}

.orders .content .ordersWrap .item .goodsDetail .goodsTitle {
    width: 100%;
    max-height: 40px;
    /* border: 1px solid; */
    white-space: initial;
    font-size: 16px;
    overflow: hidden;

    text-overflow: ellipsis;
    color: #4c4c4c;
}

.orders .content .ordersWrap .item .goodsDetail .goodsTag {
    display: inline-block;
    width: auto;
    padding: 2px 4px;
    font-size: 12px;
    color: #fff;
    background-color: #f56161;
    border-radius: 4px;
    margin: 10px 0;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .price {
    display: inline-block;
    font-size: 18px;
    color: #ff0000;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    vertical-align: bottom;
    color: #b2b2b2;
}


.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn {
    display: inline-block;
    /* border: 1px solid; */
    height: 24px;
    vertical-align: middle;
    width: 24px;
    text-align: center;
    background-color: rgb(219,219,219);
    color: #fff;
    position: relative;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn.minus {
    margin: 0 6px 0 0;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn.plus {
    margin: 0 0 0 6px;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn.minus:after {
    content: "";
    display: inline-block;
    width: 15px;
    border-top: 1px solid #fff;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 5px;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn.plus:before {
    height: 15px;
    width: 1px;
    border-left: 1px solid #fff;
    display: inline-block;
    content: "";
    position: absolute;
    top: 5px;
}

.orders .content .ordersWrap .item .goodsDetail .priceBox .count .countBtn.plus:after {
    content: "";
    display: inline-block;
    width: 15px;
    border-top: 1px solid #fff;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 5px;
}

.orders .content .ordersWrap .totalWrap {
    position: relative;
    padding: 18px 0;
    font-size: 12px;
    /* display: inline-block; */
    text-align: right;
}

.orders .content .ordersWrap .totalWrap .expressFee {
    margin: 0 8px;
    color: #959595;
}

.orders .content .ordersWrap .totalWrap .num {
    margin: 0 0 0 4px;
}

.orders .content .ordersWrap .totalWrap .totalGoodsFee {
    color: #3d3d3d;
}

.orders .content .ordersWrap .totalWrap .totalGoodsFee .num {
    font-size: 18px;
    color: #f00;
}

.orders .content .ordersWrap .totalWrap .totalGoodsFee .num:before {
    font-size: 12px;
}

.orders .chooseBox {
    background-color: #fff;
    margin: 24px 0;
    padding: 0 14px;
}

.orders .chooseBox .title {
    padding: 12px 0;
    font-size: 16px;
    color: #8e8e8e;
    letter-spacing: 1px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.orders .chooseBox .title.choose:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    position: absolute;
    top: 18px;
    right: 8px;
}

.orders .chooseBox .wrap {
    padding: 18px 0;
}

.addressChoose .name {
    font-size: 18px;
    margin: 0 4px 0 0;
    color: #646464;
}

.addressChoose {
    color: #646464;
    font-size: 18px;
}

.addressChoose .telPhone {
    font-size: 18px;
}

.addressChoose .address {
    color: #8f8f8f;
    font-size: 14px;
    margin: 8px 0 0;
    display: inline-block;
}

.orders .chooseBox .wrap.couponChoose .text {
    color: #8f8f8f;
}

.orders .chooseBox .wrap.couponChoose .couponWrap{
    display: block;
    margin: 0 0 16px;
}

.orders .chooseBox .wrap.payTypeChoose {
    padding: 22px 0 6px;
    display: inline-block;
    width: 100%;
}

.orders .chooseBox .yeChoose {
    width: 100%;
    padding: 16px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.orders .chooseBox .yeChoose .tipsText {
    display: inline-block;
    padding: 8px 24px 0;
    color: #b5b5b5;
    letter-spacing: 1px;
    line-height: 20px;
}

.orders .chooseBox .yeChoose .text img {
    margin: 0 4px;
    vertical-align: top;
}

.orders .chooseBox .wrap.payTypeChoose .text {
    width: 46%;
    display: inline-block;
    color: #646464;
    white-space: nowrap;
    margin: 0 0 14px;
}

.orders .chooseBox .wrap.payTypeChoose .text img {
    vertical-align: top;
    margin: 0 4px;
}

.addressManagement .content {
    padding: 64px 0 0;
    overflow: hidden;
}

.addressManagement .content .item {
    background-color: #fff;
    /* padding: 16px 24px 26px; */
    position: relative;
    /* margin-bottom: 1px; */
    border-bottom: 1px solid #d5d5d5;
}

.addressManagement .content .item .addressChoose .name {
    font-size: 18px;
    color: #353535;
}

.addressManagement .content .item .addressChoose .telPhone {
    font-size: 16px;
    color: #757575;
}

.addressManagement .content .item .addressChoose .address {
    font-size: 14px;
    color: #757575;
    line-height: 24px;
}

.boxShadow{
    box-shadow: 0 2px 8px rgba(0,0,0,.06);
}

.addressManagement .content .item .addressChoose {
    position: relative;
    background-color: #fff;
    z-index: 2;

    padding: 16px 12px 16px;
}

.addressManagement .content .item .doActionWrap {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    /*     display: none; */
    font-size: 0;
    right: 0;
}

.addressManagement .content .item .doActionWrap .actionItem {
    display: inline-block;
    height: 100%;
    width: 70px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
}

.addressManagement .content .item .doActionWrap .actionDefault {
    background-color: #4DBEE3;
    width: 100px;
}

.addressManagement .content .item .doActionWrap .actionEdit {
    background-color: #ffb400;
}

.addressManagement .content .item .doActionWrap .actionDelete {
    background-color: #f56161;
}

.addressManagement .content .item .typeWrap {
    /* border: 1px solid; */
    width: 102px;
    height: 24px;
    position: absolute;
    right: 12px;
    text-align: right;
}

.addressManagement .content .item .ifAddressDefault {
    display: none;
    font-size: 12px;
    color: #fff;
}

.addressManagement .content .item.defaultAddress .ifAddressDefault {
    /* width: 36px; */
    /* height: 18px; */
    /* line-height: 18px; */
    background-color: #f56161;
    display: inline-block;
    text-align: center;
    padding: 2px 6px;
    vertical-align: top;
}

.addressManagement .content .item.defaultAddress .ifAddressDefault:before {
    content: "默认";
}

.addressManagement .content .item .addressTypeTag {
    display: inline-block;
    text-align: center;
    padding: 2px 6px;
    vertical-align: top;
    font-size: 12px;
    color: #fff;
}

.addressManagement .content .item .addressTypeTagFamily:before {
    content: "家庭";
}

.addressManagement .content .item .addressTypeTagCompany:before {
    content: "公司";
}

.addressManagement .content .item .addressTypeTag.addressTypeTagFamily {
    background-color: #ffae00;
}

.addressManagement .content .item .addressTypeTag.addressTypeTagCompany {
    background-color: #4dbee3;
}

.addressManagement .content .item.on {
    background-color: #e7e5e5;
}

.addressManagement .content .item.on .addressChoose {
    background-color: #e7e5e5;
}


.pubPage .content {
    padding: 64px 0 0;
}

.islider-dom {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.islider-pic {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
    background-image: url(../../common/img/wplogo.png);
    background-position: 50%;
    background-size: contain;
}

.islider-img > img,
.islider-pic img {
    width: 100%;
    height: 100%;
    object-position: 0 100%;
    object-fit: cover;
}

.islider-btn-outer {
    position: absolute;
    width: 3em;
    height: 3em;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: block;
    background-color: rgb(119, 119, 119);
}

.islider-btn-outer.left {
    left: 5%;
}

.islider-btn-outer.right {
    right: 5%;
}

.islider-btn-inner {
    position: absolute;
    width: 50%;
    height: 50%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.islider-btn-outer.left > .islider-btn-inner {
    -webkit-transform: rotate(-45deg);
}

.islider-btn-outer.right > .islider-btn-inner {
    -webkit-transform: rotate(135deg);
}

.islider-dot-wrap {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    z-index: 10000;
    text-align: center;
}
.islider-dot {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: #fff;
    list-style-type: none;
    margin: 5px;
}

.islider-dot.active {
    background-color: #fc433e;
}

.blueBg {
    background-color: #4DBEE3;
}

.yellowBg {
    background-color: #ffb400;
}

.redBg {
    background-color: #f56161;
}

.blue {
    color: #4DBEE3;
}

.yellow {
    color: #ffb400;
}

.red {
    color: #f56161;
}

.content .box {
    background-color: #fff;
    color: #585858;
    margin: 0 0 18px 0;
}

.content .box .boxHeader {
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 14px;
    color: #585858;
}

.content .box .boxContent {
    position: relative;
    padding: 0 14px;
}

.content .box .boxContent .item {
    position: relative;
    border-top: 1px solid #e5e5e5;
    padding: 18px 0;
}

.content .box .boxContent .item:first-child {
    border-top: none;
}

.content .tipsWrap {
    color: #888;
    padding: 4px 14px 16px;
}

.content .tipsWrap .warning {
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
}

/*
    优惠券
*/

body.couponPage {
    background-color: rgb(233,233,233);
}

body.couponPage .tipsWrap {
    margin: 16px 0 0;
}

body.couponPage .couponWrapBox {
    position: relative;
    padding: 0 14px;
    overflow: hidden;
}

body.couponPage .couponWrapBox .couponItem {
    /* width: 90%; */
    margin: 0 auto;
    height: 140px;
    /* border: 1px solid; */
    /*background-color: #fa5b5b;*/
    color: #FFF;
    /* padding: 8px 28px 0; */
    font-size: 0;
    position: relative;
    margin: 8px 0 24px;
}

body.couponPage .couponWrapBox .couponItem.off{
    background-color: #c5c5c5;
}

body.couponPage .couponWrapBox .couponItem.off .stateWrap{
    color: #c5c5c5;
}
body.couponPage .couponWrapBox .couponItem .infoWrap {
    display: inline-block;
    height: 100%;
    width: 78%;
    text-align: center;
    padding: 8px 0 0;
    position: relative;
}

body.couponPage .couponWrapBox .couponItem .stateWrap {
    display: inline-block;
    background-color: #fff;
    color: #fa5b5b;
    height: 100%;
    vertical-align: top;
    width: 22%;
    font-size: 16px;
    text-align: center;
    position: relative;
}

body.couponPage .couponWrapBox .couponItem .stateWrap .text {
    display: inline-block;
    width: 14px;
    position: relative;
    top: 40px;
    line-height: 18px;
}

body.couponPage .couponWrapBox .couponItem .infoWrap .couponInfo {
    margin: 8px 0 0;
}

body.couponPage .couponWrapBox .couponItem .infoWrap .couponInfo .moneyCount {
    font-size: 64px;
    display: inline-block;
}

body.couponPage .couponWrapBox .couponItem .infoWrap .couponInfo .toUseInfo {
    display: inline-block;
    font-size: 18px;
    vertical-align: text-bottom;
    margin: 0 0 0 8px;
    text-align: left;
}

body.couponPage .couponWrapBox .couponItem .infoWrap .couponInfo .toUseInfo .infoText {
    display: block;
    padding: 0 0 8px;
    font-size: 12px;
    color: rgba(255,255,255,.7);
}

body.couponPage .couponWrapBox .couponItem .infoWrap .couponDeadLine {
    font-size: 12px;
    margin: 4px 0 0;
    display: inline-block;
}

body.couponPage .couponWrapBox .couponItem:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    top: 50px;
    left: -18px;
}

body.couponPage .couponWrapBox .couponItem .stateWrap:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(233,233,233);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    top: -12px;
    left: -8px;
}

body.couponPage .couponWrapBox .couponItem .stateWrap:after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(233,233,233);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    bottom: -12px;
    left: -8px;
}

body.couponPage .couponWrapBox .couponItem .infoWrap:after {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: rgb(233,233,233);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    top: 12px;
    right: -5px;
    z-index: 2;
    box-shadow: 0 12px 0 rgb(233,233,233) , 0 24px 0 rgb(233,233,233) , 0 36px 0 rgb(233,233,233), 0 48px 0 rgb(233,233,233), 0 60px 0 rgb(233,233,233), 0 72px 0 rgb(233,233,233), 0 84px 0 rgb(233,233,233), 0 84px 0 rgb(233,233,233), 0 96px 0 rgb(233,233,233), 0 108px 0 rgb(233,233,233);
}

/*
icon
*/
@font-face {font-family: "iconfont";
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}



.iconfont,
[class^=icon-]{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before { content: "\e6c1"; }
.icon-gerenziliao:before { content: "\e615"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-youhuiquan:before { content: "\e625"; }
.icon-jifen:before { content: "\e621"; }
.icon-geren:before { content: "\e66f"; }
.icon-gerenzhongxin:before { content: "\e60f"; }
.icon-dingdan:before { content: "\e646"; }
.icon-yonghu:before { content: "\e610"; }
.icon-dui:before { content: "\e7ce"; }
.icon-tuangou:before { content: "\e614"; }
